.cardImage {
    max-width: 100%;
    border-radius: 5px;
}
.cardImage.sideB {
    display: none;
}

.col.s12 > .btn {
   width: 100%;
}

/*
.fixed-action-btn {
    top: 23px;
}
*/
nav {
    color: #0e0e0e;
    background-color: #fff;
}
nav .brand-logo {
    color: #0e0e0e;
}