body {
    background-color: #f7f7f7;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.collapsible-body {
    background-color: #fff;
}

.card-thumbnail {
    width: 100%;
    border-radius: 5px;
}
.card-thumbnail.side-b {
    display: none;
}

.col.s12 > .btn {
   width: 100%;
}

.card-tile {
    width: 150px;
}

nav .brand-logo {
    font-size: 1.4rem;
}

.avatar div.circle {
    background-size: 150%;
    background-position: 15% 20%;
    border-radius: 0;
}


#search-bar {
    display: none;
}

.collapsible-header {
    position: relative;
}

.collapsible-header .mc {
    position: absolute;
    top: 16px;
    right: 16px;
}

.collapsible-header .mc i {
    width: 1rem;
    margin-right: 0;
    font-size: 0.8rem;
}

.carousel {
   height: 480px !important;
}
.carousel img {
    height: 280px;
}

// mobile fab tooltip
.mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding:0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
}