@font-face {
  font-family: 'Beleren';
  src: url('//magarena.github.io/public/css/woff/Beleren.woff') format('woff');
}

body, main {
    background-color: #f7f7f7;
}

h1 {
    font-size: 3rem;
}

h1, h2, h3, h4, h5, h6, nav .brand-logo {
    font-family: "Beleren";
}
.oracle h5 {
    font-family: "Roboto", sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

hr {
    width: 50px;
    border: 2px solid #9c27b0;
    margin: 5rem auto;
}
div.collapsible-group {
    margin: .5rem 0 1rem 0;
}
div.collapsible-group ul.collapsible.popout {
    margin-top: 0;
    margin-bottom: 0;
}
ul.collapsible li div {
    background-color: #fff;
}
.collapsible-header.disabled {
    cursor: auto;
}

.card-thumbnail {
    width: 100%;
    border-radius: 5px;
}
.card-thumbnail.side-b {
    /*display: none;*/
}

.col.s12 > .btn {
   width: 100%;
}

nav .brand-logo {
    font-size: 1.4rem;
}
nav.transparent {
    background-color: transparent;
    box-shadow: none;
}
nav.transparent .brand-logo, nav.transparent ul a {
    color: #333;
}
.splash nav.transparent .brand-logo {
    font-size: 2rem;
    color: #9c27b0;
    font-weight: bold;
}
nav .button-collapse {
    margin: 0;
}

.avatar div.circle,.collection .collection-item.avatar:not(.circle-clipper)>.circle {
    background-size: 150%;
    background-position: 15% 20%;
    border-radius: 5px;
    width: 65px;
    height: 65px;
}
.collection .collection-item.avatar {
    padding-left: 86px;
}

.collapsible-header {
    position: relative;
}

.collapsible-header .mc {
    position: absolute;
    top: 16px;
    right: 16px;
}

.collapsible-header .mc i {
    width: 1rem;
    margin-right: 0;
    font-size: 0.8rem;
}

sup .mc i {
    font-size: 1rem;
}

.carousel {
   height: 480px !important;
}
.carousel img {
    height: 280px;
}

/*
 * mobile fab tooltip
 * see: https://codepen.io/anon/pen/rxMXob
 */
.mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding:0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
}

/*
 * Nav with background image
 */
nav.nav-extended {
    height: auto;
    background-color: transparent;
    background-color: rgba(156, 39, 176, 0.3);
}

nav.nav-extended.home {
    background-color: transparent;
    color: #9c27b0;
    box-shadow: none;
}
nav.nav-extended.home ul a {
    color: #333;
}
nav.nav-extended.home .nav-header {
    text-align: center;
}
nav .nav-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;

    background-size: 120%;
    background-position: center 40%;
    background-repeat: no-repeat;
    opacity: 0.6;

    image-rendering: pixelated;
    /* see: https://builtvisible.com/image-scaling-in-css/ */
}

nav .nav-header {
    word-wrap: break-word;
    clear: both;
    padding: 40px;
}

.nav-action {
    position: relative;
}

.nav-action .fixed-action-btn {
    position: absolute;
    display: inline-block;
    right: 24px;
}

.pushpin-target.pinned {
    z-index: 1;
}


/*
 * Modal search box
 */
.modal.open {
    top: 1% !important;
    width: 99% !important;
    height: 75vh;
    background-color: #fff;
}
.modal .input-field {
    margin: 1em;
}
.modal .input-field .autocomplete-content {
    border: 1px solid #ddd;
    box-shadow: none;
}
.modal .input-field .autocomplete-content li {
    border-bottom: 1px solid #ddd;
}
.modal .input-field i.material-icons {
    color: #111;
    font-size: 1.4rem;
    top: 10px;
}
.modal .input-field input.search {
    border: none !important;
    box-shadow: none !important;
}

/*
 * Animation for search bar
 */
.search-bar {
    margin: 0;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 2px 0px #708890;
       -moz-box-shadow: 1px 1px 2px 0px #708890;
            box-shadow: 1px 1px 2px 0px #708890;
}
.search-bar-container .search-bar {
    position: relative;
    top: 0;
    z-index: 10;
    /*
    -webkit-transition: all .2s ease 0s;
    -webkit-transform: translate(0, 0);
    */
}
.search-bar-container .search-bar.focused {
    top: -240px;
}
.search-bar-container .search-bar input[type=search] {
    border: 0 !important;
    box-shadow: none !important;
    margin: 0;
}
.card.search-bar .card-content {
    padding: 3px 10px;
}
.nav-wrapper.fixed {
    position: fixed;
}

/*
 * Flip card
 */
.flip-wrapper {
    text-align: center;
}
.flip-wrapper a.btn-floating {
    position: relative;
    top: -10px;
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.flipper .front, .flipper .back {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.flipper .back {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}



/*
 * Media queries
 */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    nav .nav-bg {
        background-size: 150%;
        background-position: center 20%;
    }

    .flip-container, .front, .back {
        height: 396px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    nav .nav-bg {
        background-size: 150%;
        background-position: center 15%;
    }

    nav .nav-header {
        padding: 15px;
    }
    nav .nav-header h1 {
        font-size: 2rem;
    }

    .flip-container, .front, .back {
        height: 128px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
